
<!-- Navigation Bar: Appear after user makes a selection. E.g: in the recipe page -->

<!-- Hero Section -->
<section class="hero">
    <!-- Welcome Message: LEFT -->
    <div class="hero-welcome">
        <!-- title -->
        <h1 class="hero-welcome__title">Welcome to MidEast Recipes <span class = "moon">{{content.moon}}</span></h1>
    </div>   
    <!-- Hero Content: RIGHT : Where users select different food selections  -->
    <div class="hero-meals">
        <!-- title <h2> -->
        <h2 class="hero-meals__title"> What are you looking to prepare today? </h2>
        <!-- selections -->
        <!-- content -->
        <div class="hero-meals-selects" *ngFor="let meal of content.meals">
            <a class="hero-meals-selects__link"> 
                <span class="moon"> {{content.moon}} </span>
                 {{meal}}
            </a> 
        </div>
    </div> 
</section>




