
<!-- Navigation Bar: Appear after user makes a selection. E.g: in the recipe page -->

<!-- Hero Section -->
<section class="hero">
    <!-- Welcome Message: LEFT -->
    <div class="hero-welcome">
        <!-- title -->
        <h1 class="hero-welcome__title">Welcome to MidEast Recipes <span>🌙</span></h1>
    </div>   
    <!-- Hero Content: RIGHT : Where users select different food selections  -->
    <div class="hero-meals">
        <!-- title <h2> -->
        <h2 class="hero-meals__title"> What are you looking to prepare today? </h2>
        <!-- selections -->
        <div class="hero-meals-selects">
            <a class="hero-meals-selects__link"> <span class="moon"> 🌙 </span> Breakfast </a> 
            <a class="hero-meals-selects__link"> <span class="moon"> 🌙 </span> Lunch </a> 
            <a class="hero-meals-selects__link"> <span class="moon"> 🌙 </span> Dinner </a> 
            <a class="hero-meals-selects__link"> <span class="moon"> 🌙 </span> Dessert </a> 
        </div>
    </div> 
</section>




