<!-- Navigation Bar: Appear after user makes a selection. E.g: in the recipe page -->

<!-- Hero Section -->
<section class="hero">
    <!-- Welcome Message: LEFT -->
    <div class="hero-welcome">
        <!-- title -->
        <h1 class="hero-welcome__title">{{content.title}} <span class = "moon">🌙</span></h1>
    </div>   
    <!-- Hero Content: RIGHT : Where users select different food selections  -->
    <div class="hero-meals">
        <!-- title <h2> -->
        <h2 class="hero-meals__title"> {{content.subtitle}} </h2>
        <!-- selections -->
        <!-- content -->
        <div class="hero-meals-selects" *ngFor="let meal of content.navigation">
            <a class="hero-meals-selects__link"> {{meal}}
                <span class="moon"> 🌙 </span>
            </a> 
        </div>
    </div> 
</section>




